* {
    font-family: Roboto, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
}

.header, .hero-container {
    background-color: #1F2937;
    padding: 20px 300px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex:1;
}

.header-logo, .hero-main-text {
    color: #F9FAF8;
}

.header-logo {
    font-size: 24px;
    font-weight: bold;
}

.hero-main-text {
    font-size: 48px;
    font-weight: bolder;
}

a, .hero-text {
    font-size: 18px;
    color: #E5E7EB
}

.hero-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 80px;
    padding-bottom: 120px;
    gap: 50px;
}

ul {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
    gap: 20px;
}

a {
    text-decoration: none;
}

.hero-container > img {
    width: 500px;
    height: auto;
}

button {
    margin-top: 12px;
    background-color: #3882F6;
    color: white;
    padding: 8px 30px;
    border-radius: 8px;
    border: 1px solid #1F2937;
    font-weight: 700;
    font-size: 20px;
}

.information {
    padding: 50px 400px;
}

h1 {
    text-align: center;
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
}

.information-container {
    display: flex;
    align-items: center;
    gap: 30px;
    justify-content: center;
}

.information-image > img {
    width: 250px;
    height: auto;
    border-radius: 16px;
}

.information-image {
    width: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.quote {
    background-color: #E5E7EB;
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
    color: #1F2937;
    display: flex;
    flex-direction: column;
    padding: 50px 500px;
    text-align: center;
}

.thor {
    text-align: end;
    font-weight: bold;
    font-size: 26px;
    font-style: normal;
}

.call-to-action {
    background-color: #3882F6;
    color: #E5E7EB;
    margin: 120px 300px;
    border-radius: 8px;
    display: flex;
    padding: 40px 100px;
    justify-content: space-between;
    align-items: center;
}

.cta-text > .bold-text {
    font-weight: bold;
    font-size: 26px;
}

.cta-button > button {
    border: 1px solid white;
}

.footer {
    color: #E5E7EB;
    background-color: #1F2937;
    justify-content: center;
    align-items: center;
    padding: 30px;
    display: flex;
}